/* You can add global styles to this file, and also import other style files */
/* Importa un tema de Angular Material */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Puedes agregar aquí tus estilos globales */
body {
  background: #f5f5f5;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}